# Git files
.git
.gitignore
.github

# Build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/
*.cmake
!CMakeLists.txt

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# CodeQL analysis files
_codeql_build_dir/
_codeql_detected_source_root

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Documentation drafts
*.md~
